# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


.vs/PartageMemoireM1GL/FileContentIndex/1039ad90-78ea-42e5-8e21-8cb9e5895a4d.vsidx
